= simple_form_for([@job, @job.job_apps.build], html: { class: 'form-horizontal'}) do |f|
	= f.input :name, label: "Full Name", input_html: { class: "form-control" }
	= f.input :email, label: "Your Email", input_html: { class: "form-control" }
	= f.input :resumelink, label: "Link to Resume", input_html: { class: "form-control" }
	= f.input :linkedinprofile, label: "LinkedIn Profile URL", input_html: { class: "form-control" }
	= f.input :twitterlink, label: "Twitter Profile URL", input_html: { class: "form-control" }
	= f.input :weblink, label: "Other Website ( Your Blog maybe )", input_html: { class: "form-control" }
	= f.input :message, label: "Cover Letter / Message", input_html: { class: "form-control" }
	%br/
	= f.button :submit, "SUBMIT APPLICATION", input_html: { class: "form-control" }