<h4><%= @JobApp.name %></h4>


<h4><%= @JobApp.email %></h4>
<h4><%= @JobApp.resumelink %></h4>
<h4><%= @JobApp.linkedinprofile %></h4>
<h4><%= @JobApp.twitterlink %></h4>
<h4><%= @JobApp.weblink %></h4>
<h4><%= @JobApp.message %></h4>
