Good day <%= @jobapp.job.user.email %>.

<p>
	Here is my cover letter for this career opportunity.
	<br />
	<%= @jobapp.message %>
</p>
<p>
	My name is <strong><%= @jobapp.name %></strong>. You may contact me via email at <strong><%= @jobapp.email %></strong>.
	<br />
	Please review my resumé via this link: <strong><%= @jobapp.resumelink %></strong>.
	<br />
	I also have a LinkedIn profile which you may view here: <strong><%= @jobapp.linkedinprofile %></strong>
	as well as a space on the internet at this address: <strong><%= @jobapp.weblink %></strong>.
	<br />
	For a bit of my personality you may view my twitter profile here: <strong><%= @jobapp.twitterlink %></strong>.
</p>
