!!!
%html
%head
	%title= yield (:title)
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
		
	- if notice
		#notice_wrapper
			%p.notice
				= notice
	- elsif alert
		#notice_wrapper
			%p.alert
				= alert

	%header
		#header
			.site-links
				%nav.navbar.navbar-default
					.navbar-header

						- if user_signed_in?
							%btn.navbar-toggle.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}= link_to "Log Out", destroy_user_session_path, :method => :delete
						- else
							%btn.navbar-toggle.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}= link_to "Sign In", new_user_session_path
						.logo.navbar-brand
							= link_to "Anziel", authenticated_root_path
					.navbar-collapse.collapse
						%ul.nav.navbar-nav.navbar-right
							%li= link_to "About Us", pages_about_path
							%li= link_to "FAQ", '#'

							- if user_signed_in?
								%li
									%a= current_user.email
								%li= link_to "Edit Profile", edit_user_registration_path
								%li= link_to "Log Out", destroy_user_session_path, :method => :delete
							- else
								%li= link_to "Sign Up", new_user_registration_path
								%li= link_to "Log In", new_user_session_path
						
	.container
		.row
			= yield

	%footer
		.border-top#social-footer
			.containter
				.row
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						= link_to 'https://www.twitter.com/anzielhq', target: '_blank', class: 'box-link twitter' do
							%span.light What's new?
							%span.headline.bold Follow us on Twitter
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						= link_to 'https://www.facebook.com/anzielhq', target: '_blank', class: 'box-link facebook' do
							%span.light Get the latest
							%span.headline.bold Like us on facebook
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						= link_to 'https://www.anziel.com/newsletter', class: 'box-link newsletter' do
							%span.light Be inspired
							%span.headline.bold Subscribe to our Newsletter
		.border-top#-footer
			.containter
				.row
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						=link_to "Pricing", '#'
						%br
						=link_to "Brand", '#'
						%br
						=link_to "Press Package", '#'
						%br
						=link_to "Answer our Anonymous Survey", '#'
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						=link_to "Blog", '#'
						%br
						=link_to "Media", '#'
						%br
						=link_to "Advice & Tips", '#'
					.col-lg-4.col-md-12.col-sm-12.col-xs-12
						=link_to "Terms", '#'
						%br
						=link_to "Privacy Policy", '#'
						%br
						=link_to "Partners & Friends", '#'
					



